<!--local onde aparece as telas-->
<div style="min-height: calc(100vh - 64px);">
    <main>
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </main>
</div>


<!--<div>
    <div>
      <h1>FREE HIRE</h1>
      <ul class="menu">
        <li>
          <a routerLink="/cliente-cadastro">Cadastro de Cliente</a>
        </li>
        <li>
          <a routerLink="/freelancer-cadastro">Cadastro de Freelancer</a>
        </li>
        <li>
          <a routerLink="/freelancer-perfil">Perfil de Freelancer</a> 
        </li>
        <li>
          <a routerLink="/cliente">Perfil de Cliente</a> 
        </li>
        <li>
          <a routerLink="/servicos">Inserir Servicos</a> 
        </li>
        <li>
          <a routerLink="/servicos-listar">Lista de Servicos</a> 
        </li>
        <li>
          <a routerLink="/proposta">Inserir Proposta</a> 
        </li>
        <li>
          <a routerLink="/proposta-listar">Lista de Proposta</a> 
        </li>
        <li>
          <a routerLink="/cliente-login">Login</a> 
        </li>
      </ul>
      <router-outlet></router-outlet> 
    </div> 
  </div>-->