.lista_freelancer{
    list-style: none;
    padding-inline-start: 0%;
}

.lista_freelancer li {
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.botao-excluir{
    float: right;
    background-color: black;
    padding: 5px;
    margin-top: -32px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
}

.botao-excluir:hover {
    background-color: blanchedalmond;
}

.botao-editar{
    display: block;
    width: calc(100% - 30px);
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
}