<mat-toolbar color="primary">
  <div class="menu1">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a color="warn" class="cadastro" mat-flat-button routerLink="/cliente-cadastro" >Cadastro Cliente</a>
    <a color="warn" class="cadastrofree" mat-flat-button routerLink="/freelancer-cadastro" >Cadastro Freelancer</a>
  </mat-toolbar-row>
</div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="sidenav " #sidenav mode="side">
    <mat-nav-list>
      <!--local das rotas-->
      <img class="logo" src="../assets/logo.novo.png" alt="">
      <a mat-list-item routerLink="/cliente">Perfil de Cliente</a>
      <a mat-list-item routerLink="/freelancer-perfil">Perfil de Freelancer</a>
      <a mat-list-item routerLink="/proposta-listar">Propostas</a>
      <a mat-list-item routerLink="/servicos-listar">Serviços</a>
      <a mat-list-item routerLink="/servicos">Cadastrar Serviços</a>
      <a mat-list-item routerLink="/proposta">Cadastrar Proposta</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--local onde aparece as telas-->
    <div style="min-height: calc(100vh - 64px);">
      <main>
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
